#quick-search-field{
	height:25px; 
	position:absolute; 
	margin: 11px 0 0 100px;
	width: 200px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	padding-left: 20px;
}
.search-field{
	position: relative;
}